[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=gpick
Comment=Color picker
Comment[ru]=Пипетка для снятия цвета
GenericName=Color picker
Exec=gpick
Icon=gpick
StartupNotify=true
MimeType=text/x-utility;
Terminal=false
Type=Application
Categories=Graphics;GTK;
