[Desktop Entry]
Version=1.0
Name=Gpick
Comment=Color picker
Comment[ru]=Пипетка для снятия цвета
Comment[de]=Farbwerte eines ausgewählten Punktes auf dem Bildschirm erfassen
GenericName=Color picker
Exec=gpick %u
Icon=gpick
StartupNotify=true
MimeType=application/x-gpick-palette;
Terminal=false
Type=Application
Categories=Graphics;GTK;
Keywords=color picker;colorpick;palette;palette editing;
